<h2>Admin</h2>
<div class='grid'>
    <div class='raw-material'>
        <h3>Communications</h3>
        <a routerLink="../../admin-office/daily-report/report-main" routerLinkActive="active"><button class='niceButton meatriteButton'>Daily
                Report</button></a>
    </div>
    <div class='processed'>
        <h3>Checklists</h3>
        <a routerLink="../../admin-office/checklists/menu" routerLinkActive="active"><button class='niceButton meatriteButton'>Checklists</button></a>
    </div>
    <div class='hpp'>
        <h3>Orders</h3>
        <!-- <ng-template [ngxPermissionsOnly]="['admin', 'add-orders']">
                <a routerLink="../../admin-office/orders/add-order" routerLinkActive="active"><button class='niceButton meatriteButton'>Insert Order</button></a>
        </ng-template> -->
        <!-- <ng-template [ngxPermissionsOnly]="['admin', 'add-clients']">
                <a routerLink="../../admin-office/clients/add-client" routerLinkActive="active"><button class='niceButton meatriteButton'>Add Client</button></a>
        </ng-template> -->
        <!-- <ng-template [ngxPermissionsOnly]="['admin', 'add-orders']">
            <a routerLink="../../admin-office/pnpCSV" routerLinkActive="active"><button class='niceButton meatriteButton'>Add PnP CSV Orders</button></a>
        </ng-template> -->
        <ng-template [ngxPermissionsOnly]="['admin', 'add-orders']">
            <a routerLink="../../admin-office/insertOrderService" routerLinkActive="active"><button class='niceButton meatriteButton'>Orders</button></a>
        </ng-template>
    </div>
</div>
