<h2>Admin</h2>
<div class='grid'>
    <div class='raw-material'>
        <h3>Communications</h3>
        <a routerLink="../../admin-office/daily-report/report-main" routerLinkActive="active"><button class='niceButton meatriteButton'>Daily
                Report</button></a>
    </div>
    <div class='processed'>
        <h3>Checklists</h3>
        <a routerLink="../../admin-office/checklists/menu" routerLinkActive="active"><button class='niceButton meatriteButton'>Checklists</button></a>
    </div>
    <div class='hpp'>
        <h3>Routes</h3>
    </div>
</div>