@import 'src/stylesColors.scss';
.selectComponent {
    margin: 20px 0px;
    border-bottom: 2px solid $mainColorPlusTwo;
}

select {
    margin-left: 20px;
    font-size: 1.5em;
    color: $mainColorPlusOne;
    border: 0;
}

label {
    margin: 10px 0px;
    color: $mainColorPlusOne;
    font-size: 1.5em;
    border: 0;

}

::placeholder {
    color: $thirdColor;
}

.red:focus {
    color: $thirdColorPlusTwo;
    outline: 0;
    border-bottom: 2px solid red;
}

.green:focus {
    color: $thirdColorPlusTwo;
    outline: 0;
    border-bottom: 2px solid #00ff00;
}

.green {
    color: $thirdColorPlusTwo;
    outline: 0;
    border-bottom: 2px solid #00ff00;
}