.amount {
padding: 0 10px;
}

button {
    margin: 2px;
}

.exactAmount{
    margin: 5px;
    font-size: 1.1rem;
}

thead {
    font-size: 0.7rem;
    color: #808080;
}

th {
    font-weight: normal;
    padding: 0 5px;
}