<table>
    <thead>
        <tr>
            <th>MR</th>
            <th>Batch#</th>
            <th>Current amount on truck</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let batch of stock.stockOnHand.batchAmounts; let a = index'>
            <th>{{batch.amount}}</th>
            <th>{{batch.batchNumber}}</th>
            <th>
                <button (click)='load(-50, a)'>-50</button>
                <button (click)='load(-10, a)'>-10</button>
                <button (click)='load(-5, a)'>-5</button>
                <button (click)='load(-1, a)'>-1</button>
                <ng-container *ngIf="amountNeeded > batch.amount; then batchAmount; else amountNeed">
                </ng-container>
                <ng-template #batchAmount>
                    <button class='exactAmount' (click)='load(batch.amount*(-1), a)'>-{{batch.amount}}</button>
                        <span class='amount'>{{amountNeeded - amountLoaded}}</span>
                        <button class='exactAmount' (click)='load(batch.amount, a)'>+{{batch.amount}}</button>
                </ng-template>
                <ng-template #amountNeed>
                    <button class='exactAmount' (click)='load(amountNeeded*(-1), a)'>-{{amountNeeded}}</button>
                        <span class='amount'>{{amountNeeded - amountLoaded}}</span>
                        <button class='exactAmount' (click)='load(amountNeeded, a)'>+{{amountNeeded}}</button>
                </ng-template>

                <button (click)='load(1, a)'>+1</button>
                <button (click)='load(5, a)'>+5</button>
                <button (click)='load(10, a)'>+10</button>
                <button (click)='load(50, a)'>+50</button>
            </th>
        </tr>
    </tbody>
</table>
