<div class='wrapperExpand'>
<mat-accordion class='miniExpansion'>
    <mat-expansion-panel class='miniExpansion' (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class='miniExpansion'>
            <mat-panel-title class='groupName'>
                <table class='miniExpansion'>
                    <tr>
                        <th width='50px'>{{productData.productCode}}</th>
                        <th width='180px'>{{productData.description}}</th>
                        <th width='30px'>{{productData.currentStock}}</th>
                        <th width='30px'>{{productData.stockNeeded}}</th>
                        <th width='30px'>{{productData.currentStock - productData.stockNeeded}}</th>
                    </tr>
                </table>
            </mat-panel-title>
        </mat-expansion-panel-header>
        Small data here
    </mat-expansion-panel>
</mat-accordion>
</div>