table {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    width: 100%;
    font-size: 14px;
    border-spacing: 0px;
}

td,
th {
    text-align: left;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

td:last-of-type {
    text-align: right;
}

th {
    vertical-align: top;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.positive {
    color: green;
}

.negative {
    color: red;
    font-weight: bold;
}

.mat-expansion-panel {
    background: #ffebd7;
    padding: 0px;
    margin: 0px;
}

.miniExpansion {
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-shadow: none;
    width: 100%;
    background-color: #ffebd7;
}

