<div class='compContainer' (click)='clicked()'>
    <img class='brand item' src="assets/images/{{singleProduct.brandImage}}">
    <div class='prodCode item'>{{singleProduct.unitweight}}{{singleProduct.unitmeasurement}}</div>
    <div class='prodCode item'>{{singleProduct.productid}}</div>
    <img class='dot item' src="assets/images/{{singleProduct.unitcolor}}">
    <img class='packaging item' src="assets/images/{{singleProduct.container}}">
    <div class='item amount'>{{singleProduct.amount}}</div>
</div>
