<app-box-shadow-container>

    <app-load-trucks-view1
        [dailyRoutes]='dailyRoutes'
        (getDataForRoute)='refreshRouteSelection($event)'
        (truckNumber)='loadTrucksView2.changeTruck($event)'
        (showLoadTruckTemplate)='loadTrucksView2.truckTemplate($event)'>
    </app-load-trucks-view1>

    <app-load-trucks-view2
        #loadTrucksView2
        [meatriteStock]='meatriteStock'
        [routeWithTrucks]='routeWithTrucks'
        [workingRouteTree]='workingRouteTree'>
    </app-load-trucks-view2>

</app-box-shadow-container>
