<table class='hppSummaryTable'>
    <thead>
        <tr>
            <th>Product Name</th>
            <th [ngClass]="amountOfOrders >= 2 ? 'activeColm' : ''">MR Stock</th>
            <th [ngClass]="amountOfOrders >= 1 ? 'activeColm' : ''"
                (click)='switchStock(2)'>Pre-Hpp Stock</th>
            <th [ngClass]="amountOfOrders >= 0 ? 'activeColm' : ''"
                (click)='switchStock(1)'>Post-Hpp Stock</th>
            <th>PnP Order</th>
            <th *ngIf='pnpOutstandingOrders.length > 0'>PnP Outstanding Orders</th>
            <th (click)='switchStock(3)'>Leakers</th>
            <th>Outstanding</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor='let stock of outstandingStock'>
            <tr>
                <td>{{stock.productMRid}}</td>
                <td>{{stock.mrStock}}</td>
                <td>{{stock.preHpp}}</td>
                <td>{{stock.postHpp}}</td>
                <td>{{stock.pnpOrder}}</td>
                <td *ngIf='stock.outOrders >= 0'>{{stock.outOrders}}</td>
                <td>{{stock.leakers}}</td>
                <td [ngClass]="stock.amount === 0 ? 'green' : 'red'">{{stock.amount}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
