<table class='hppSummaryTable'>
    <thead>
        <tr>
            <th>Product Name</th>
            <th [ngClass]="amountOfOrders >= 2 ? 'activeColm' : ''">MR Stock</th>
            <th [ngClass]="amountOfOrders >= 1 ? 'activeColm' : ''"
                (click)='switchStock(2)'>Pre-Hpp Stock</th>
            <th [ngClass]="amountOfOrders >= 0 ? 'activeColm' : ''"
                (click)='switchStock(1)'>Post-Hpp Stock</th>
            <th>PnP Order</th>
            <th *ngIf='pnpOutstandingOrders.length > 0'>PnP Outstanding Orders</th>
            <th (click)='switchStock(3)'>Leakers</th>
            <th>Outstanding</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor='let stock of outstandingStock'>
            <tr>
                <td>{{stock.productMRid}}</td>
                <td>{{stock.mrStock}}</td>
                <td>{{stock.preHpp}}</td>
                <td>{{stock.postHpp}}</td>
                <td>{{stock.pnpOrder}}</td>
                <td *ngIf='stock.outOrders >= 0'>{{stock.outOrders}}</td>
                <td>{{stock.leakers}}</td>
                <td [ngClass]="stock.amount === 0 ? 'green' : 'red'">{{stock.amount}}</td>
            </tr>
        </ng-container>
    </tbody>
    <!-- <tbody>
        <tr *ngFor='let pnpProduct of pnpProducts'>
            <td>{{pnpProduct?.productName}}</td>
            <ng-container #test *ngFor='let mrStock of meatriteStock'>
                    <td *ngIf='pnpProduct.productid === mrStock.productid'>{{mrStock?.stockTotal}}</td>
            </ng-container>
            <ng-container *ngFor='let preStock of preHppStock'>
                    <td *ngIf='pnpProduct.productid === preStock.productid'>{{preStock?.stockTotal}}</td>
            </ng-container>
            <ng-container *ngFor='let postStock of postHppStock'>
                    <td *ngIf='pnpProduct.productid === postStock.productid'>{{postStock?.stockTotal}}</td>
            </ng-container>
            <ng-container *ngFor='let curPnPOrder of pnpOrder'>
                    <td *ngIf='pnpProduct.productid === curPnPOrder.productid'>{{curPnPOrder?.amount}}</td>
            </ng-container>
            <ng-container *ngFor='let pnpOutstanding of pnpOutstandingOrders'>
                    <td *ngIf='pnpProduct.productid === pnpOutstanding.productid'>{{pnpOutstanding?.stockTotal}}</td>
            </ng-container>
            <ng-container *ngFor='let leaker of hppLeakers'>
                    <td *ngIf='pnpProduct.productid === leaker.productid'>{{leaker?.stockTotal}}</td>
            </ng-container>
            <ng-container *ngFor='let short of outstandingStock'>
                    <td [ngClass]="short.amount === 0 ? 'green' : 'red'"
                        *ngIf='pnpProduct.productid === short.productid'>{{short?.amount}}</td>
            </ng-container>
        </tr>
    </tbody> -->
</table>
