@import 'src/stylesColors.scss';

@mixin heading {   
    display: grid;
    color: $secondColorPlusTwo;
    background: $mainColorMinusOne;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 15px 0px 15px;
}

.headings {
@include heading;
}

.grid5 {
    grid-template-columns: 15% 400px .3fr .7fr 8%;
}

.grid4 {
    margin: 5px;
    grid-template-columns: 2fr 1.5fr .5fr 8%;
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

