<app-box-shadow-container>
    <label>Select Route</label>
    <select #selectedCategory>
        <option *ngFor='let route of routes' [value]='route.routeid'>
            {{ route.routeName }}
        </option>
    </select>
    <button (click)='getDataForRoute.emit(selectedCategory.value)'>Select Route</button>

    <span *ngIf='templateData'>
        <span *ngIf='templateData.totalTrucks > 1'>
            <button (click)='loadTruck.emit(-1)'>All Trucks</button>
            <span *ngFor='let i of [].constructor(templateData.totalTrucks); let a = index'>
                <button (click)='loadTruck.emit(a)'>Truck {{a + 1}}</button>
            </span>
        </span>
        <h3>Current route: {{templateData.routeName}}</h3>
        <div *ngIf="showLoadTruckTemplate; then loadTruckTemplate; else compareStockTemplate">{{showLoadTruckTemplate}}</div>
        <ng-template #compareStockTemplate>
            <app-load-trucks-compare [stockOnHand]='templateData.meatriteStock' [stockRequired]='templateData.prodductTotal'>
            </app-load-trucks-compare>
        </ng-template>
        <ng-template #loadTruckTemplate>
            <h3>Current order: {{clientData.clientName}}</h3>
            <app-load-trucks-loading [stockOnHand]='templateData.meatriteStock' [stockRequired]='clientData.orders'></app-load-trucks-loading>
        </ng-template>
        <div *ngIf='templateData.clients'>
            <br>
            <p>Load truck from top to bottom</p>
            <div class='clientButtons' *ngFor='let client of templateData.clients'>
                <button [ngClass]="client.loadingStatus ? 'green' : 'red'" (click)='loadClient.emit(client)'>{{client.deliveryRanking}}
                    {{client.clientName}}</button>
            </div>
        </div>
    </span>
</app-box-shadow-container>