<button (click)=load(-50)>-50</button>
<button (click)=load(-10)>-10</button>
<button (click)=load(-5)>-5</button>
<button (click)=load(-1)>-1</button>
<button class='exactAmount' (click)=load(amountNeeded*(-1))>-{{amountNeeded}}</button>
<span class='amount'>{{amountLoaded}}</span>
<button class='exactAmount' (click)=load(amountNeeded)>+{{amountNeeded}}</button>
<button (click)=load(1)>+1</button>
<button (click)=load(5)>+5</button>
<button (click)=load(10)>+10</button>
<button (click)=load(50)>+50</button>
