@import 'src/variables.scss';

button {
    margin-left: 30px; 
    height: 30px;
    width: 100px;
}

div {
    width: 100%;
    text-align: center;
}

h3 {
    display: inline;
}

section {
    padding: 0 20px 0 20px;
}