.headingGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    button {
        width: 100px;
        justify-self:end;
    }
}

table {
    border-collapse: collapse;
  }

h3 {
    display: inline;
}

input {
    width: 100px;
    margin: 2px;
}

.productidColm {
    width: 250px;
}

.batchNumber {
    height : 20px;
}

tr:nth-child(even) {
    background-color: #dbdbdb;
}

tr:nth-child(2) {
    background-color: #ffebd7;
}

.batchError {
    color: red;
    font-weight: bold;
}
