<div class="field">
    <div class='listOfItems'>
        <div *ngFor='let field of filteredFields' (click)='itemSelected(field)'>{{field.name}}</div>
    </div>
    <input type="text" #inputBox 
        [(ngModel)]='selection.name' 
        [ngClass]="group.get(config.name).valid ? 'green' : 'red'"
        placeholder={{config.placeholder}} 
        autocomplete="off" 
        spellcheck="false" (keyup)='keyPressed(inputBox.value)' />
    <label for="config.name">{{config.label}}</label>
</div>