<table class='loadingTable'>
    <thead>
        <tr>
            <th>Product to Load</th>
            <th class='amount'>AMT</th>
            <th class='loading'>Load/Unload</th>
        </tr>
    </thead>

    <tbody *ngFor='let stock of sideBySideStock; let a = index'>
        <tr>
            <td>{{stock.stockRequired.productName}}</td>
            <td class='amount' [ngStyle]="stock.stockRequired.amount !== stock.stockRequired.amountLoaded &&
                {'color':'red'} || stock.stockRequired.amount === stock.stockRequired.amountLoaded && {'color':'green'}">
                {{stock.stockRequired.amountLoaded}}/{{stock.stockRequired.amount}}</td>
            <td class='loading'>
                <app-load-widget
                    [productNumber]='a'
                    [stock]='stock'
                    [workingRouteTree]='workingRouteTree'
                    (load)='load($event, stock)'>
                </app-load-widget>
            </td>
        </tr>
    </tbody>
</table>
