<!-- <div class="field">
    <input #floatInput [ngClass]="inputFormControl.valid ? 'green' : 'red'"
        #searchBox
        [formControl]="controller"
        type="text" id="fullname"
        placeholder={{placeHolderText}}
        spellcheck="false"
        autocomplete="off">
    <label #floatLabel (click)='inputSelected()' for="fullname">{{caption}}</label>
</div> -->

<mat-form-field>
    <input #searchBox matInput [formControl]="controller" autocomplete="off" type="text" placeholder={{placeHolderText}} spellcheck="false">
</mat-form-field>