User Entry Page 
<a class='buttonMenus' routerLink="/user-nav" routerLinkActive="active">Main</a>
<a class='buttonMenus' routerLink="../home/login" routerLinkActive="active">Log Out</a>
<br>

<router-outlet></router-outlet>


<!--

<router-outlet name='factoryNav'></router-outlet>   

<div class="center-screen">
  <nav>
    <a class='buttonMenus' routerLink="/user-nav" routerLinkActive="active">Stock1</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'factoryNav': ['stocks']}} ]">Stock</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'factoryNav': ['high-risk']}} ]">Hi-Risk</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'factoryNav': ['user-nav']}} ]">Production</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">L-Shape</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Storage</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Receiving</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Factory Office</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Workshop</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Food safety</a>
  </nav>
</div>

 -->