:host {
    padding-left: 15px;
    /* display: inline-block; */
}

a {
    display: inline-block;
}

button {
    display: inline-block;
}

.meatriteButton {
    display: inline-block;
    margin-right: 10px;
  }

.compContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
