<h2>HPP Menu</h2>
<div class='grid'>

        <!-- <h3>HPP</h3> -->
        <a routerLink="../../hpp/summary" routerLinkActive="active"><button class='niceButton meatriteButton'>Hpp Stock Summary</button></a><br>
        <a routerLink="../../hpp/mr_pre_transfer" routerLinkActive="active"><button class='niceButton meatriteButton'>Meatrite Stock to Pre-Hpp</button></a><br>
        <a routerLink="../../hpp/pre_post_transfer" routerLinkActive="active"><button class='niceButton meatriteButton'>Pre to Post Stock Transfer</button></a><br>
        <a routerLink="../../hpp/post_leaker_transfer" routerLinkActive="active"><button class='niceButton meatriteButton'>Post Stock to Leakers Transfer</button></a><br>
        <a routerLink="../../hpp/post_pnp_transfer" routerLinkActive="active"><button class='niceButton meatriteButton'>Post Stock to PnP</button></a><br>

</div>
