<h3>Unit weight colors</h3>

<Table>
    <tr>
        <th>Weight</th>
        <th>Color</th>
        <th>Class</th>
    </tr>
    <tr class='tracks'>
        <td>0.5kg vac</td>
        <td class="weight05">0.5kg</td>
        <td>.weight05</td>
    </tr>
    <tr class='tracks'>
        <td>1kg vac</td>
        <td class="weight1">1kg</td>
        <td>.weight1</td>
    </tr>
    <tr class='tracks'>
        <td>2kg Vac</td>
        <td class="weight2Vac">2kg</td>
        <td>.weight2Vac</td>
    </tr>
    <tr class='tracks'>
        <td>2kg Bag</td>
        <td class="weight2Bag">2kg</td>
        <td>.weight2Bag</td>
    </tr>
    <tr class='tracks'>
        <td>5kg Bag</td>
        <td class="weight5Bag">2kg</td>
        <td>.weight5Bag</td>
    </tr>
    <tr class='tracks'>
        <td>Box</td>
        <td class="weightBox">2kg</td>
        <td>.weightBox</td>
    </tr>
</Table>