<div *ngxPermissionsOnly="['floor-supervisor', 'Lshape-leader', 'shift-supervisor']">
  <div>You can see this text congrats</div>
  <a class='buttonMenus' routerLink="/user-nav" routerLinkActive="active">ADMIN</a>
</div>

<ng-template ngxPermissionsOnly="shift-supervisor">
  <nav>
    <a class='buttonMenus' routerLink="/user-nav" routerLinkActive="active">ADMIN</a>
  </nav>
</ng-template>

<ng-template [ngxPermissionsExcept]="['JOHNY']">
  <nav>
    <a class='buttonMenus' routerLink="/user-nav" routerLinkActive="active">NOT JOHNY</a>
  </nav>
</ng-template>
