<div class='compContainer'>
<nav >
    <ul class="menu ">
        <li><a routerLink="user-nav"><i class="material-icons valign-center">apps</i> Menu</a></li>
        <!-- <li><a href="#"><i class="material-icons valign-center">home</i><span class="iconic plus-alt"></span> About</a>
            <ul>
                <li><a href="#">Company History</a></li>
                <li><a href="#">Meet the team</a></li>
            </ul>
        </li> -->
        <li><a ><i class="material-icons valign-center">business</i> Factory</a>
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">App Development</a></li>
                <li><a href="#">Email Campaigns</a></li>
                <li><a href="#">Copyrighting</a></li>
            </ul>
        </li>
        <li><a ><span class="iconic map-pin"></span> Products</a>
            <ul>
                <li><a href="#">Widget One</a></li>
                <li><a href="#">Widget Two</a></li>
                <li><a href="#">Web App Three</a></li>
                <li><a href="#">Web App Four</a></li>
                <li><a href="#">Crazy Products</a></li>
                <li><a href="#">iPhone Apps</a></li>
            </ul>
        </li>
        <li><a ><span class="iconic mail"></span> Contact</a>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Directions</a></li>
            </ul>
        </li>
        <li><a routerLink="../login"><i class="material-icons valign-center">exit_to_app</i> Log out</a></li>
    </ul>
    <!-- <ul colspan="100%"><app-date-picker></app-date-picker></ul> -->
    <div class="clearfix"></div>
    
</nav>
</div>
<!-- <img class='valign-center' height="20" width="20" src="assets/images/factory.png"> -->