<div class='container' (click)=collaps()>
    <span class='topLevel'>
        <div>{{stockGroupData.key}}</div>
        <div >
            <app-rainbow-progress-bar *ngIf="!expandedIndex" [amount]='stockGroupData.number'></app-rainbow-progress-bar>
        </div>
        <div></div>
        <div>
            <div id='th3' *ngIf="!expandedIndex" class='headingIcon'> <i class="material-icons">expand_more</i></div>
            <div id='th3' *ngIf="expandedIndex" class='headingIcon'> <i class="material-icons">expand_less</i></div>
        </div>
    </span>
    <div *ngIf="expandedIndex">
        <span class='headings'>
            <div>Name</div>
            <div>Model Stock</div>
            <div>Supplier</div>
            <div>Amt</div>
        </span>
    </div>
    <div *ngIf="expandedIndex">
            <section class='section' *ngFor='let value of stockGroupData.values; trackBy: trackByamounts'>
                <app-raw-material-view2 [individualStockData]='value'></app-raw-material-view2>
            </section>
    </div>
</div>


<!-- <table (click)=collaps()>
    <thead>
        <tr >
            <td>
                <span class='topLevel'>
                    <div>{{stockGroupData.key}}</div>
                    <div><app-rainbow-progress-bar [amount]='stockGroupData.number'></app-rainbow-progress-bar></div>
                    <div>
                        <div id='th3' *ngIf="!expandedIndex" class='headingIcon'> <i class="material-icons">expand_more</i></div>
                        <div id='th3' *ngIf="expandedIndex" class='headingIcon'> <i class="material-icons">expand_less</i></div>
                    </div>
                </span>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="expandedIndex">
            <td>
                <span class='headings'>
                    <div>Name</div>
                    <div>Supplier</div>
                    <div>Amount</div>
                </span>
            </td>
        </tr>
        <tr *ngIf="expandedIndex">
            <td>
                <span *ngFor='let value of stockGroupData.values; trackBy: trackByamounts'>
                    <app-raw-material-view2 [individualStockData]='value'></app-raw-material-view2>
                </span>
            </td>
        </tr>
    </tbody>
</table> -->