:host {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card {
    width: 0px;
    display: flex;
    min-width: 100%;
    overflow-x: auto;
}
  
.ticket {
    margin: 5px;
}

.active {
    margin: 20px 10px;
}