<app-raw-stock-take-view
    [topLevelData]='stockTakeData'
    [viewHeading]='viewHeading'
    [headings]='headings'
    [dataPoints]='dataPoints'
    [gridColmSizes]='gridColmSizes'>
</app-raw-stock-take-view>

<!-- <br>
<div id="input" contenteditable>I look like an input</div> -->

<!-- <br>
    <div class='one'><input class='ui' type='text'></div>
    <div class='keyboard' *ngIf='showKeyboard'>
        <div class='two' (click)='two()'>{{clicked}}</div>
        <br>
        <br>
        <div><app-custom-keyboard (keyPressed)="keyPressed($event)"></app-custom-keyboard></div>
    </div>

{{showKeyboard}} -->