<h2>Dispatch</h2>
<div class='grid'>
    <div class='raw-material'>
        <h3>Trucks</h3>
        <a routerLink="../../dispatch/load-trucks" routerLinkActive="active"><button class='niceButton meatriteButton'>Load Trucks</button></a>
    </div>
    <div class='raw-material'>
        <h3>PnP Pallets</h3>
        <a routerLink="../../dispatch/pnp-pallets" routerLinkActive="active"><button class='niceButton meatriteButton'>Calculate PNP Pallets</button></a>
    </div>
    <!-- <div class='raw-material'>
        <h3>Enter new check</h3>
        <a routerLink="../../checklists/new-check" routerLinkActive="active"><button class='niceButton meatriteButton'>New
                Check</button></a>
    </div> -->
</div>
