<form [formGroup]='orderForm' (ngSubmit)='orderFormSubmit.emit()'>
    <h3>
        <label>Account Name:
            {{ orderForm.get('commonName').value }}
        </label>
    </h3>
    <div class='insertOrderGridContainer'>
        <div class='mainDataCell'>
            <div class='field'>
            <label>Enter account number:
                <input #searchBox type="text" formControlName='accountMRid'>
            </label>
            </div>
            <table *ngIf='relevantAccountsArray.length > 0'>
                <tbody>
                    <tr  *ngFor='let account of relevantAccountsArray; let i=index'>
                        <td class='accountsList' (click)='accountSelection.emit({accountData: account, index: i})'>{{account.commonName}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='field'>
            <label>Enter parent account: (if any)
                <input type="text" formControlName='parentAccountid'>
            </label>
            </div>
            <p class='field'>Products:</p>
            <div formArrayName="orders">
                <div class='products' *ngFor='let order of orderForm.get("orders").controls; let i=index'>
                    <div formGroupName='{{i}}'>
                        <span class='productName' (keyup)='productSelection.emit({productMRid: orderForm.get("orders").value[i].productMRid, index: i})'>
                            <input [ngClass]="orderForm.get('orders').value[i].allowed === true ? 'green' : 'red'"
                                formControlName="productMRid">
                        </span>
                        <span class='amount'><input formControlName="amount"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class='productsToChooseFromCell'>
            <div *ngIf='productsToChooseFrom.length > 0'>
                <p>Products to choose from:</p>
                <br>
                <div *ngFor='let product of productsToChooseFrom'>
                    {{product.productMRid}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <button class='meatriteButton niceButton' type="submit">Enter order</button>
</form>
