<div class='extraContainer' *ngIf='!showKeyboard'>
    <form [formGroup]='amountForm' (ngSubmit)='amountFormSubmit()'>
        <input class='postClick' type="text" formControlName="amount" />
    </form>
</div>


<div class='extraContainer' *ngIf='showKeyboard'>
    <div class='one'>
        <form [formGroup]='amountForm' (ngSubmit)='amountFormSubmit()'>
            <input [ngClass]="inputBoxColor" type="text" formControlName="amount" />
        </form>
    </div>
    <div class='two' (click)='changeInputColor()' onfocusout="changeInputColor()"></div>
    <div class='keyboard'>
        <app-custom-keyboard (keyPressed)="keyPressed($event)"></app-custom-keyboard>
    </div>
</div>