<div class="center-screen">
  <nav>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Stock</a>
    <a class='buttonMenus' routerLink="../user/factory" routerLinkActive="active">Factory</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Production</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">L-Shape</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Storage</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Receiving</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Factory Office</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Workshop</a>
    <a class='buttonMenus' routerLink="../user/stocks" routerLinkActive="active">Food safety</a>
  </nav>
</div>
<!--
    <a class='buttonMenus' [routerLink]="[{outlets: {'factoryNav': ['user']}} ]">Stock</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'factoryNav': ['high-risk']}} ]">Hi-Risk</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'factoryNav': ['user-nav']}} ]">Production</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">L-Shape</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Storage</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Receiving</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Factory Office</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Workshop</a>
    <a class='buttonMenus' [routerLink]="[{outlets: {'websiteNav': ['stocks']}} ]">Food safety</a>
  </nav>
</div>
-->