<div class="center-screen">
    <nav>
        <ng-template [ngxPermissionsOnly]="['factory-supervisor', 'Lshape-leader', 'shift-supervisor', 'admin']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Stock</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor','Lshape-leader', 'admin']">
            <a routerLink="../L-shape" routerLinkActive="active"><button class='niceButton meatriteButton'>L-Shape</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor','Lshape-leader', 'admin']">
                <a routerLink="../high-risk" routerLinkActive="active"><button class='niceButton meatriteButton'>High-Risk</button></a>
            </ng-template>

        <ng-template [ngxPermissionsOnly]="['admin']">
                <a routerLink="../admin" routerLinkActive="active"><button class='niceButton meatriteButton'>Admin</button></a>
            </ng-template>

        <!-- <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a routerLink="../factory" routerLinkActive="active"><button class='niceButton meatriteButton'>Factory</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Production</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Storage</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Receiving</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Factory Office</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Workshop</button></a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a routerLink="../stocks" routerLinkActive="active"><button class='niceButton meatriteButton'>Home</button>Food safety</a>
        </ng-template> -->
    </nav>
</div>
