<div class="center-screen">
    <nav>
        <ng-template [ngxPermissionsOnly]="['factory-supervisor', 'Lshape-leader', 'shift-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Stock</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a class='buttonMenus' routerLink="../factory" routerLinkActive="active">Factory</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Production</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor','Lshape-leader']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">L-Shape</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Storage</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['shift-supervisor','factory-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Receiving</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Factory Office</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Workshop</a>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['factory-supervisor']">
            <a class='buttonMenus' routerLink="../stocks" routerLinkActive="active">Food safety</a>
        </ng-template>
    </nav>
</div>