<div class='mainGridContainer'>
    <div class='colms headings'>
        <div>Meatrite Stock</div>
        <div>Order</div>
        <div>Difference</div>
    </div>
</div>
<div class='mainGridContainer' *ngFor='let stock of sideBySideStock'>
    <div class='colms'>
        <div class='description'>
            <div class='productName'>{{stock.stockOnHand.productName}}</div>
            <div class='amount'>{{stock.stockOnHand.amount}}</div>
            <div></div>
        </div>
        <div class='description'>
            <div class='productName'>{{stock.stockRequired.productName}}</div>
            <div class='amount'>{{stock.stockRequired.amount}}</div>
        </div>
        <div class='finalAmount'>{{stock.stockOnHand.amount - stock.stockRequired.amount}}</div>
    </div>
</div>
