.container {
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 15% 400px .3fr .7fr 7%;
    padding: 5px;
    /* padding: 0px 10px 0px 20px; */
}

.stockName {
    height: auto;
    overflow: hidden;
}

.days {
    justify-self: center;
}