<app-box-shadow-container>
    <button class='niceButton meatriteButton' (click)=deleteOldStock()>New stocktake</button>
    <a routerLink="../../hpp/menu" routerLinkActive="active"><button class='niceButton meatriteButton'>Hpp menu</button></a><br>
    <h3>Change stock from Post HPP to Delivered</h3>
    <app-hpp-stock-transfer-view1
        *ngIf="productArray"
        [headingNames]='headingNames'
        [productArray]="productArray"
        (changeAmount)='changeAmount($event)'
    ></app-hpp-stock-transfer-view1>
    <button class='niceButton meatriteButton submitButton' (click)=submitForm()>Submit Data</button>
</app-box-shadow-container>
