<table class='hppSummaryTable'>
    <thead>
        <tr>
            <th>Products</th>
            <th>Batch</th>
            <th>Pre Hpp data</th>
            <th class='changeStock'>Change Stock</th>
            <th>Post Hpp data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let product of productArray; let a of index'>
            <td>{{product.productName}}</td>
            <td>{{product.batchNumber}}</td>
            <td class='stockAmounts' [ngClass]="product.sourceAmount < 0 ? 'red' : ''">{{product.sourceAmount}}</td>
            <td><app-hpp-transfer-buttons
                [index]='a'
                (changeAmount)='changeAmount.emit($event)'
                ></app-hpp-transfer-buttons></td>
            <td class='stockAmounts' [ngClass]="product.destinationAmount < 0 ? 'red' : ''">{{product.destinationAmount}}</td>
        </tr>
    </tbody>
</table>
