<div class="center-screen">
  <nav>
    <a routerLink="/home" routerLinkActive="active"><button class='niceButton meatriteButton'>Home</button></a>
    <a routerLink="/about" routerLinkActive="active"><button class='niceButton meatriteButton'>About</button></a>
    <a routerLink="/contact" routerLinkActive="active"><button class='niceButton meatriteButton'>Contacts</button></a>
    <a routerLink="/login" routerLinkActive="active"><button class='niceButton meatriteButton'>Login</button></a>
  </nav>
</div>

