<div class="center-screen">
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="about" routerLinkActive="active">About</a>
    <a routerLink="contact" routerLinkActive="active">Contacts</a>
    <a routerLink="login" routerLinkActive="active">Login</a>
    <!-- <a [routerLink]="[{outlets: {'websiteNav': ['about']}} ]">About</a>
    <a [routerLink]="[{outlets: {'websiteNav': ['contact']}} ]">Contacts</a>
    <a [routerLink]="[{outlets: {'websiteNav': ['login']}} ]">Login</a> -->
  </nav>
</div>

