<h2>Stock</h2>

<div class='grid'>
    <div class='processed'>
        <h3>Processed</h3>
        <a routerLink="../../stock-processed/stocktake-processed" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake
        </button></a>
    </div>
    <div class='raw-material'>
        <h3>Raw Material</h3>
        <a routerLink="../stock-raw/stocktake-raw" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake</button></a>
        <br>
        <a routerLink="../stock-raw/stocks-raw-view" routerLinkActive="active"><button class='niceButton meatriteButton'>View
                Stock</button></a>
    </div>
    <div class='hpp'>
        <h3>Hpp</h3>
        <a routerLink="../hpp/menu" routerLinkActive="active"><button class='niceButton meatriteButton'>Hpp Stock</button></a>
    </div>


</div>
