:host {
    padding: 0 5px 0 10px;
    display: block;
    overflow: auto;	
    min-height: 400px;	
}

a {
    display: inline-block;
}

button {
    display: inline-block;
}

.meatriteButton {
    display: inline-block;
    margin-right: 10px;
  }

.compContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
