<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input [(ngModel)]="registerUserData.username" name="username" type="text" placeholder="username"/>
      <input [(ngModel)]="registerUserData.password1" name="password1" type="password" placeholder="password"/>
      <input [(ngModel)]="registerUserData.password2" name="password2" type="password" placeholder="confirm password"/>
      <input [(ngModel)]="registerUserData.email" name="email" type="text" placeholder="email address"/>
      <button [ngClass]="{ 'created'        : registered===true,
                           'notCreated'     : registered===false
                        }"
      (click)="registerUser()">{{buttonTitle}}</button>
      <p class="message">Already registered? <a href="login">Login</a></p>
    </form>
  </div>
</div>
{{errorMessage | json}}