table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    width: 100%;
    font-size: 14px;
    border-spacing: 10px;
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#th1 {
    width: 15%;
}

#th2 {
    width: 55%;
}

#thNumbers {
    text-align: right;
    width: 10%;
}

td:last-of-type {
    text-align: right;
}

th {
    vertical-align: top;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
}

.positive {
    color: green;
}

.negative {
    color: red;
    font-weight: bold;
}

.mini{
    padding: 0px;
}
