table {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
}

th, td {
    border-collapse: collapse;
    border: 1px solid black;
    column-fill: balance;
}

th, td {
    height: 25px;
    text-align: left;
    column-fill: balance;
    padding: 7px;
}

.weight {
    td {
        font-weight: bold;
    }
}
