<h2>Stocktaking</h2>
<br>
<div>
    <div class='leftDiv'>
        <h3>Processed</h3>
        <a class='buttonMenus' routerLink="../processed" (click)="setTime('06:00')" routerLinkActive="active">06:00</a>
        <br>
        <a class='buttonMenus' routerLink="../processed" (click)="setTime('12:00')" routerLinkActive="active">12:00</a>
        <br>
        <a class='buttonMenus' routerLink="../processed" (click)="setTime('18:00')" routerLinkActive="active">18:00</a>
    </div>
    <div>
        <h3>Raw Material</h3>
        <a class='buttonMenus' routerLink="../processed" (click)="setTime('18:00')" routerLinkActive="active">Daily</a>
        <br>
        <a class='buttonMenus' routerLink="../processed" (click)="setTime('18:00')" routerLinkActive="active">End of week</a>
    </div>
</div>

<a class='buttonMenus' (click)="test()">Test Button</a>
<router-outlet></router-outlet> 