<h2>Stocktaking</h2>
<br>
<div>
    <div class='leftDiv'>
        <h3>Processed</h3>
        <a class='meatriteButton' routerLink="../processed" routerLinkActive="active">Stocktake</a>
        <br>
        <button class='meatriteButton' (click)="confirmClearAllProducts()">Clear All Products</button>
        <br>    
    </div>
    <div>
        <h3>Raw Material</h3>
        <a class='meatriteButton' routerLink="../processed" routerLinkActive="active">Daily</a>
    </div>
</div>
<router-outlet></router-outlet> 