<h2>Stocktaking</h2>
<br>
<!-- <div>
    <div class='leftDiv'>
        <h3>Processed</h3>
        <a routerLink="../stocks-processed" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake</button></a>
        <br>
        <button class='niceButton meatriteButton' (click)="confirmClearAllProducts()">Clear All Products</button>
        <br>
        <button class='niceButton meatriteButton' (click)="confirmClearHalfProducts()">Clear half of Products</button>
        <br>
        <a routerLink="../stock-processed/stocktake-processed" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake
                New</button></a>
        <ng-template [ngxPermissionsOnly]="['shift-supervisor', 'admin']">
            <a routerLink="../productMaintenance" routerLinkActive="active"><button class='niceButton meatriteButton'>Choose
                    Stock Delete</button></a>
        </ng-template>
    </div>
    <div>
        <h3>Raw Material</h3>
        <a routerLink="../stock-raw/stocktake-raw" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake</button></a>
        <br>
        <a routerLink="../stock-raw/stocks-raw-view" routerLinkActive="active"><button class='niceButton meatriteButton'>View
                Stock</button></a>
    </div>
</div> -->
<div class='grid'>
    <div class='processed'>
        <h3>Processed</h3>
        <!-- <a routerLink="../stocks-processed" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake</button></a>
        <br>
        <button class='niceButton meatriteButton' (click)="confirmClearAllProducts()">Clear All Products</button>
        <br>
        <button class='niceButton meatriteButton' (click)="confirmClearHalfProducts()">Clear half of Products</button>
        <br> -->
        <a routerLink="../../stock-processed/stocktake-processed" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake
        </button></a>
        <!-- <ng-template [ngxPermissionsOnly]="['shift-supervisor', 'admin']">
            <a routerLink="../productMaintenance" routerLinkActive="active"><button class='niceButton meatriteButton'>Choose
                    Stock Delete</button></a>
        </ng-template> -->
    </div>
    <div class='raw-material'>
        <h3>Raw Material</h3>
        <a routerLink="../stock-raw/stocktake-raw" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake</button></a>
        <br>
        <a routerLink="../stock-raw/stocks-raw-view" routerLinkActive="active"><button class='niceButton meatriteButton'>View
                Stock</button></a>
    </div>
    <div class='hpp'>
        <h3>Hpp Stock</h3>
        <a routerLink="../../hpp/hpp-stock" routerLinkActive="active"><button class='niceButton meatriteButton'>Stocktake
            Hpp</button></a>
    </div>


</div>
<!-- <router-outlet></router-outlet>  -->