<div class='wrapperExpand'>
    <table class='miniExpansion'>
        <tr class='expand' (click)="collaps()">
            <th id='th1'>{{productData.productCode}}</th>
            <th id='th2'>{{productData.description}}</th>
            <th id='thNumbers'>{{productData.currentStock}}</th>
            <th id='thNumbers'>{{productData.stockNeeded}}</th>
            <th id='thNumbers' [ngClass]="{'positive' : productData.currentStock - productData.stockNeeded > 0, 'negative' : productData.currentStock - productData.stockNeeded < 0}"
                >{{productData.currentStock - productData.stockNeeded}}</th>
        </tr>
        <tr *ngIf="expandedIndex">
            <th class='trollies'  colspan="5"><app-high-risk-items3 [prod]='productData.productCode'></app-high-risk-items3></th>
        </tr>
    </table>
</div>