<button class='niceButton secBlueButton' (click)="keyPress('1')">1</button>
<button class='niceButton secBlueButton' (click)="keyPress('2')">2</button>
<button class='niceButton secBlueButton' (click)="keyPress('3')">3</button>
<button class='niceButton secBlueButton' (click)="keyPress('4')">4</button>
<button class='niceButton secBlueButton' (click)="keyPress('5')">5</button>
<button class='niceButton secBlueButton' (click)="keyPress('6')">6</button>
<button class='niceButton secBlueButton' (click)="keyPress('7')">7</button>
<button class='niceButton secBlueButton' (click)="keyPress('8')">8</button>
<button class='niceButton secBlueButton' (click)="keyPress('9')">9</button>
<button class='niceButton secBlueButton' (click)="keyPress('0')">0</button>