.compContainer {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    padding-bottom: 10px;
}

.data{
    display: grid;
    grid-template-columns: 1fr;
}

.pallet {
    padding: 5px;
    font-size: 0.8rem;
    border: 1px solid black;

    .heading {
        font-weight: bold;
        padding-bottom: 3px;
    }

    .mainData {
        padding-left: 10px;
    }

    .product {
        padding-left: 15px;
    }
}

.productsTable {
    border-spacing: 0px;

    .productAmount {
        padding-left: 5px;
    }
}

@media print {
    h3 {
        page-break-before: always;
        // border: none;
    }

}
