
.compContainer {
    display: grid;
    grid-template-columns: 1fr; 
}

h2 {
    justify-self:center;
    max-width: 100%;
}

img {
    justify-self:center;
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
  
