
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
  
  .mainImg{
    background-color: #ffdbb7;
    grid-column: 2/4;
    grid-row: 2/4;
  }
  
  #packaging {
    grid-column-start: 3;
    grid-row-start: 3;
  }