.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(45%, 0.45fr) ) ;
}

.groups {
    align-self: start;
}

#finishButton {
    background-color: rgb(211, 106, 112);
    /* float: right; */
}

#spanning{
    display: grid;
    white-space: nowrap;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

h3 {
    font-size: 1.3em;
    margin-top: 0px;
}