<button class='goldButton' (click)="submitToDataBase()" >FINISH AND SAVE</button>
<button class='goldButton' (click)="clearAllProducts()" >Clear All Products</button>
<h3 class='inline'>{{stocktime}}</h3>
<div *ngIf="processedGroup && processedStockMain">
    <app-ind-stock-prod2 *ngIf='productName && productContainerOptions' 
        [productName]='productNameWithContainer' 
        [containers]='productContainerOptions'
        [prodDescription]='productDescription'>
    </app-ind-stock-prod2>
    <div class='wrapper'>
        <div class='groups' id='spanning'>
            <h3>Batch Groups</h3><br>
            <a class='buttonMenus' *ngFor="let group of processedGroup" (click)="BatchGroup(group.group)">{{group.group}}</a>
        </div>
        <app-ind-stock-table *ngIf="processedGroup" 
            [processedGroup]="processedGroup" 
            [batch]="batch" 
            (changeProductName)="changeProduct($event)">
        </app-ind-stock-table>
    </div>
</div>