<div class='wrapper'>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Current Stock</th>
            <th>Total needed</th>
            <th>Difference</th>
        </tr>
        <tbody *ngFor='let product of singleGroupData.values'>
            <tr>
                <td>{{product.productCode}}</td>
                <td>{{product.description}}</td>
                <td>{{product.currentStock}}</td>
                <td>{{product.stockNeeded}}</td>
                <td [ngClass]="{'positive' : product.currentStock - product.stockNeeded > 0, 'negative' : product.currentStock - product.stockNeeded < 0}">{{product.currentStock
                    - product.stockNeeded}}</td>
            </tr>
        </tbody>
    </table>
</div>