
$mainColorMinusTwo: #fff7ef;
$mainColorMinusOne: #ffebd7;
$mainColor: #dbbda0;
$mainColorPlusOne: #b9936f;
$mainColorPlusTwo: #997049;

$secondColorMinusTwo: #c0cacc;
$secondColorMinusOne: #879B9F;
$secondColor: #638187;
$secondColorPlusOne: #466b72;
$secondColorPlusTwo: #2e565e;

$tableMainFont: Arial, Helvetica, sans-serif;