// @import 'src/stylesColors.scss';

$mainColorMinusTwo: #fff7ef;
$mainColorMinusOne: #ffebd7;
$mainColor: #dbbda0;
$mainColorPlusOne: #b9936f;
$mainColorPlusTwo: #997049;

$secondColorMinusTwo: #c0cacc;
$secondColorMinusOne: #879B9F;
$secondColor: #638187;
$secondColorPlusOne: #466b72;
$secondColorPlusTwo: #2e565e;

$thirdColorMinusTwo: #fff0ef;
$thirdColorMinusOne: #ffdbd7;
$thirdColor: #dba6a0;
$thirdColorPlusOne: #b9766f;
$thirdColorPlusTwo: #995149;
$thirdColorPlusThree: #713c35;
$thirdColorPlusFour: #802519;

$tableMainFont: Arial, Helvetica, sans-serif;