
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.mainImg{
  background-color: #ffdbb7;
  grid-column: 2/4;
  grid-row: 2/4;
}

#packaging {
  grid-column-start: 3;
  grid-row-start: 3;
}

/*

.wrapper {
  display: grid;
  max-width: auto;
  max-height: 800px;
  grid-template-columns: 50vw?????????????????????? 300px 1fr 300px 175px 175px 50px;
  grid-template-rows: 50px 50px 150px 150px 150px 150px 150px 150px 150px 150px 1fr 1fr;
}

.mainImg{
  background-color: #ffdbb7;
  grid-column: 2/7;
  grid-row: 2/7;
}

app-website-nav{
  background-color: rgb(172, 22, 47);
  grid-column: 6/8;
  grid-row: 3;
  max-height: 150px;
  padding: 5px;
}

#packaging {
  grid-column: 6/8;
  grid-row: 5;
}

#mrLogo {
  grid-column-start: 3;
  grid-row-start: 1;
}

#samples {
  grid-column: 6/8;
  grid-row: 7;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

h1 {
    z-index: 1;
    background-color: #ffdbb7;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-content: center;
    color: rgb(172, 22, 47);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
  }

  a {
    cursor: pointer;
    cursor: hand;
  }
  
  .center-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav a {
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 20px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }


  
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: rgb(172, 22, 47);
    background-color: #CFD8DC;
  }
  nav a.active {
    color: rgb(172, 22, 47);
  }

  */