table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
    font-size: 1.2em;
    border-collapse:separate; 
    border-spacing: 0 .8em;
}

table h3 {
    margin-top: 0px;
}


td, th {
    font-size: .9rem;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
